body {
    background: linear-gradient(to right,rgb(10,180,10), rgb(250,250,20));
    font-family: Helvetica;
}

form {
    background-color: whitesmoke;
    text-align: center;
    display: block;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding-bottom: 10px;
 }

 h4 {
     padding-top: 20px;
     font-family: Arial;
 }

 input {
    margin-top: 7px;
    padding-left: 8px;
    padding-right: 60px;
    padding-top: 13px;
    padding-bottom: 13px; 
    vertical-align: center;
 }

 input[type=submit] {
    margin-top: 7px;
    margin-bottom: 17px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    background-color: #003366;
    border-color: #003366;
    border-radius: 1px;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
 }

 input[type=submit]:hover {
    background-color: limegreen;
    border-color: limegreen;
    color: #003366;
 }

 textarea {
     margin-top: 7px;
     margin-bottom: 7.5px;
     padding: 40px;
 }

 .uppercase {
     text-transform: uppercase;
 }